<div class="container mt-5">
    {{!-- 類別下拉選單 --}}
    {{> category}}

    {{!-- 總金額 --}}
    <div id="displayTotalAmount">
        <div>總金額:</div>
        <div id="totalAmount">{{totalAmount}}</div>
    </div>

    {{!-- 支出列表 --}}
    <section class="records">
        {{#if records}}
          {{#each records as |record|}}
            <div class="record">
                <div class="content">
                    <div class="category_img">
                        <img src="{{record.src}}" alt="" class="icon">
                    </div>                
                    <div class="summary">
                        <span class="title">{{record.name}}</span><br/>
                        <span class="date">{{record.date}}</span>
                    </div>
                    <div class="amount">{{record.amount}}</div>
                </div> 
                <form action="/records/{{record.id}}" method="GET">
                    <button id="new" class="btn edit_btn">
                        修改
                    </button>
                </form> 
                <form action="/records/{{record.id}}?_method=DELETE" method="POST">
                    <button id="new" class="btn delete_btn">
                        刪除
                    </button>
                </form>
            </div>
          {{/each}}
        {{else}}
          <p>No found records</p>
        {{/if}}
    </section>

    <form action="/records/new">
        <button id="new" class="btn new-btn">
            新增支出
        </button>
    </form>
</div>