<div class="container mt-5">
    {{!-- 類別下拉選單 --}}
    {{> category}}

    {{!-- 總金額 --}}
    <div id="displayTotalAmount">
        <div>總金額:</div>
        <div id="totalAmount">{{totalAmount}}</div>
    </div>

    {{!-- 支出列表 --}}
    <section class="records">
        {{#if records}}
          {{#each records as |record|}}
            <div class="record">
                <div class="content">
                    <div class="category_img">
                        <img src="{{record.src}}" alt="" class="icon">
                    </div>                
                    <div class="summary">
                        <span class="title">{{record.name}}</span><br/>
                        <span class="date">{{record.date}}</span>
                    </div>
                    <div class="amount">{{record.amount}}</div>
                </div>
                <button class="btn edit_btn" data-edit-id="{{record.id}}">修改</button>
                <button class="btn delete_btn" data-delete-id="{{record.id}}">刪除</button>
            </div>
          {{/each}}
        {{else}}
          <p>No found records</p>
        {{/if}}
    </section>

    <form action="">
        <button id="new" class="btn new-btn">
            新增支出
        </button>
    </form>
</div>

<script type="text/javascript">
    const records = document.querySelector('.records')
    records.addEventListener('click', function onButtonClicked(e) {
        const target = e.target
        const classList = target.classList
        if(classList.contains('edit_btn')){
            const id = target.dataset.editId
            location.href = `/records/${id}`
        }else if(classList.contains('delete_btn')){
            const id = target.dataset.deleteId
            const url = `/apis/records/${id}`
            axios
            .delete(url)
            .then((response) =>{
                console.log(`response: ${response}`)
                location.href = `/records`
            }).catch((error)=>{
                console.log(error)
            })
        }
    })
</script>